
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animateBottom;
    -webkit-animation-duration: 1s;
    animation-name: animateBottom;
    animation-duration: 1s
}

@-webkit-keyframes animateBottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animateBottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.posts-container {
    max-width: 75rem;
    margin-top: 1rem;
}

.title-header {
    margin: auto;
}

.link-no-style {
    color: inherit!important;
    text-decoration: inherit!important;
}

.no-overflow {
    overflow: auto;
}